.sec-1{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 1px;
    padding-bottom: 5px;
}

.sec-1__desc{
    
    font-weight: lighter;
}

.sec-2,.sec-3,.sec-4,.sec-5{
    text-align: center;
   border-color: black;
   border-style: solid;
 
  
   border-color: black;
   border-style: solid;
   display: inline-block;
}

.sec-2__dosa,.sec-3__idli,.sec-4__poori,.sec-5__Aloo {

    width: 200px;
    height: 400px;
    
}

.sec-2__but,.sec-3__but,.sec-4__but,.sec-5__but{
    
    background-color: black;
    color: azure;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 10px;

    
}


.sec-6{
   
    text-align: center;
    background-color: black;
    color: white;
}
.sec-6__title{
    padding-top: 10px;
}

.sec-6__form1{
    display: flex;
    justify-content: center;
}
.sec-6__desc{
    text-align: center;
    color: black;
    background-color: yellow;
    
}

.imgg1{
    text-align: center;
}
